/* Navbar.css */
.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-list li {
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.53rem;
}

.nav-list .active {
  border-bottom: 2px solid blue;
  font-weight: bold;
  transition: 0.5s;
}
